@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.TimelineUpperGrid {
    display: flex;
    width: 100%;
    background: #FFFFFF;
    justify-content: center;
}

.TimelineGrid{
    position: absolute;
    top: 23vh;
    left: 500px;
}

.timeline{
    max-width: 50vw;
}

.timeline-item-date{
    max-width: 10vw;
    margin-left: 4vw;
}

.timeline-item-dateinner{
    font-size: 18px;
}

p {
    font-size: 20px;
    white-space: pre-wrap;
}

.TimelineTitle {
    width: 400px;
    height: 10vh;
    top: 15vh;
    
    font-family: 'Itim', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    
    color: black;
}