@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.TopBarRoot {
    position: absolute;
    left: 250px;
    height: 160px;
    width: calc(100% - 250px);
    /* background-color: #F44336; */
    background-image: url(./images/movie_her.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.CopyrightText{
    position: absolute;
    color: #FFFFFF;
    font-family: 'Lobster', cursive;
    right: 2vw;
    top: 1vh;
    font-size: 1.2rem;
}

/* NYOUNGWOO LEE */
.TopBarHostText {
    position: absolute;
    left: 3vw;
    top: 100px;
    height: 42px;
    
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.0rem;
    line-height: 42px;
    
    color: #FFFFFF;
}

/* Empathy Beyond Intelligence */
.TopBarVisionText {
    position: absolute;
    height: 33px;
    left: 3vw;
    top: 62px;

    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 33px;
    /* identical to box height */
    opacity: 0.8;
    
    color: #FFFFFF;
}