.WorkRoot {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
}

.WorkUpperGrid {
    display: flex;
    width: 100%;
    height: 60vh;
    background: #FFFFFF;
    justify-content: center;
}

.WorkTitle {
    position: absolute;
    width: 400px;
    height: 42px;
    top: 25vh;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    
    color: black;
}