@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.TimelineUpperGrid {
    display: flex;
    width: 100%;
    background: #FFFFFF;
    justify-content: center;
}

.TimelineGrid{
    position: absolute;
    top: 23vh;
    left: 500px;
}

.timeline{
    max-width: 50vw;
}

.timeline-item-date{
    max-width: 10vw;
    margin-left: 4vw;
}

.dateComponent{
    margin-right: 30px;
    float: right;
    color: #212121;
    font-size: 30px;
    font-family: 'Nanum Pen Script', cursive;
}

p {
    font-size: 20px;
    white-space: pre-wrap;
}

a:link {
    color: #4b70fd;
}

a:hover {
    color: #311b92;
}

a:visited { 
    color: #8c59b9;
}

.TimelineTitle {
    width: 400px;
    height: 10vh;
    top: 15vh;
    
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    
    color: black;
}