@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap');

.SideBarTitle {
    text-align: center;
    display: flex;
    background-color: #FFFFFF;
    height: 20vh;
    flex-direction: column;
    justify-content: center;
}

.SideBarTitle p {
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #212121
}

.SideLink {
    text-decoration: none;
}

.MuiListItem-root{
    height: 80px
}

.MuiListItemIcon-root{
    margin-left: 1vw;
}

.MuiListItemText-root span {
    font-size: 1.1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    color: #212121
}